@import "tailwindcss";

.arabic {
    font-family: "Amiri Quran", serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    direction: rtl;
}

.arabic-text {
    line-height: 2.4;
    /* jarak atas bawah antar huruf */
    letter-spacing: 0.02em;
    /* dikit aja, jangan kebanyakan */
    word-spacing: 0.15em;
    /* jarak antar kata Arab */
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-up {
    animation: slide-up 0.3s ease-out forwards;
}